service: kenyonwx

image: michaelweiner/kenyonwx

servers:
  web:
    - local.springcreek.io

proxy:
  ssl: false
  hosts:
    - kenyonwx.com
    - www.kenyonwx.com
  app_port: 3000

registry:
  server: registry.hub.docker.com
  username:
    - KAMAL_REGISTRY_USERNAME
  password:
    - KAMAL_REGISTRY_PASSWORD

env:
  clear:
    WEATHER_LINK_BASE_API_URL: "https://api.weatherlink.com/v2/"
    PORT: "3000"
  secret:
    - MEMCACHEDCLOUD_SERVERS
    - WEATHER_LINK_API_KEY
    - WEATHER_LINK_API_SECRET
    - WEATHER_LINK_STATION_ID
    - WEATHER_LINK_SUMMARY_URL

builder:
  arch: arm64
  local: true
  dockerfile: Dockerfile

ssh:
  user: <%= ENV['KAMAL_SSH_USERNAME'] %>
  port: 2200

accessories:
  memcached:
    image: memcached:1.6.40
    host: local.springcreek.io
    port: "127.0.0.1:11211:11211"
    cmd: --conn-limit 100 --memory-limit 256m --threads 4
    options:
      cpus: 0.5
      memory: 256m
